;;; This is config for CANDEL. Assumes that Pret is available as a sibling directory to Alzabo

{:source :candel
 :pret-path "pret"                      ;Assumes pret is cloned in a subdir, see deploy,yanl
 :output-path "resources/public/schema/{version}/" 
 :edge-labels? false
 :reference? true
 :main-color "lightsteelblue"
 :reference-color "moccasin"
 }
